<h1>New Super regards</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.super_regards_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.super_regards_path(@conn, :index) %></span>
